.correct {
  /* font-weight: bold; */
  color: green;
  /* background-color: black; */
}

.incorrect {
  /* font-weight: bold; */
  color: red;
  /* text-decoration: underline; */
  /* background-color: black; */
}

.active {
  /* font-weight: bold; */
  background-color: yellow;
}

.typing-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  min-height: 120px;  /* Adjust height as necessary */
  height: 50px;
  overflow: hidden;
}

.word {
  margin: 4px; /* Space between words */
  display: inline-block;
  white-space:nowrap;
}

body {
  padding: 10px;
}

input {
  width: 100%;
}