.correct {
  font-weight: bold;
  color: green;
  /* background-color: black; */
}

.incorrect {
  font-weight: bold;
  color: red;
  text-decoration: underline;
  /* background-color: black; */
}

.active {
  font-weight: bold;
  background-color: yellow;
}

body {
  padding: 10px;
}

input {
  width: 100%;
}